In [1]:
n = 5
print('*' * n)

*****

pattern 1

In [107]:
n= 4
for i in range(n):
    for j in range(n):
        print('*', end=' ')
    print()

* * * *
* * * *
* * * *
* * * *

pattern 2

In [31]:
n = 3
for i in range(n):
    for j in range(n):
        print(str(n), end=' ')
    
    print()

3 3 3
3 3 3
3 3 3

pattern 3

In [23]:
n = 3
for i in range(n):
    print((str(i+1)+' ')* n)

1 1 1
2 2 2
3 3 3

pattern 4

In [29]:
n = 3
for i in range(n):
    for j in range(n):
        print('A' , end=' ')
    print()

A A A
A A A
A A A

pattern 5

In [108]:
n= 4
for i in range(n):
        print((chr(65+i)+ ' ')* (i+1))

A
B B
C C C
D D D D

pattern 6

In [109]:
n = 5
for i in range(n):
    print(('*' + ' ') * (i+1))

*
* *
* * *
* * * *
* * * * *

pattern 7

In [45]:
n = 3 
for i in range(n):
    print('* ' * (n-i))

* * *
* *
*

pattern 8

In [72]:
n= 4
for i in range(n):
    for j in range(n-i):
        print((j+1), end=' ')

    print()

1 2 3 4
1 2 3
1 2
1

pattern 9

In [71]:
n = 4
for i in range(n):
    for j in range(i+1):
        print(j+1, end=' ')
    
    print()

1
1 2
1 2 3
1 2 3 4

pattern 10

In [110]:
n=4 
for i in range(n):
    print(' '*(n-i-1)+(str(i+1)+' ')* (i+1))

   1
  2 2
 3 3 3
4 4 4 4

pattern 11

In [91]:
n= 5
for i in range(n):
    print((' '*(n-i-1)), end=' ')
    for j in range(i+1):
        print(chr(64+n-j), end = ' ')
    print()

     E
    E D
   E D C
  E D C B
 E D C B A

pattern 12

In [98]:
n= 5
for i in range(n):
    print((' '*(n-i-1)), end=" ")
    for j in range(i+1):
        print(chr(65+j), end=" ")
    print()

     A
    A B
   A B C
  A B C D
 A B C D E

pattern 13

In [99]:
n= 5
for i in range(n):
    print((' '*(n-i-1)), end=" ")
    for j in range(i+1):
        print(chr(65+i), end=" ")
    print()

     A
    B B
   C C C
  D D D D
 E E E E E

pattern 14

In [100]:
n= 5
for i in range(n):
    for j in range(i+1):
        print(chr(65+j), end=" ")
    print()

A
A B
A B C
A B C D
A B C D E

pattern 15

In [102]:
n= 5
for i in range(n):
    for j in range(i+1):
        print(chr(65+i), end=" ")
    print()

A
B B
C C C
D D D D
E E E E E

pattern 16

In [103]:
n= 5
for i in range(n):
    for j in range(i+1):
        print(chr(64+n-j), end = ' ')
    print()

E
E D
E D C
E D C B
E D C B A

pattern 17

In [106]:
n= 5
for i in range(n):
    for j in range(i+1):
        print(chr(64+n-i), end = ' ')
    print()

E
D D
C C C
B B B B
A A A A A